@media screen and (max-width: 1200px) {
  header a.logo-whitepace {
    flex-grow: 0;
    flex-shrink: 0;
  }

  header nav .container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
  }

 header nav .container .nav-menu {
    margin-right: 0;
  }

  header section.hero .hero-text {
    flex-shrink: 1;
  }

  main section.project .project-text {
    flex-shrink: 2;
  }

  main section.work .work-text {
    flex-shrink: 2;
  }

  header section.hero .hero-image {
    flex-shrink: 1;
  }

  main section.project .project-image {
    flex-shrink: 1;
  }

  main section.testimonial .card-container {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3rem;
  }

  main section.testimonial .card-container .card {
    flex-basis: 300px;
    flex-grow: 1;
  }

  .card-container article:nth-child(3) {
    flex-grow: 0;
    flex-basis: 500px;
  }
}

@media screen and (max-width: 990px) {
  footer .container .footer-content {
    flex-wrap: wrap;
    row-gap: 3rem;
  }
}

@media (max-width: 880px) {
  aside .aside-card {
    flex-direction: column;
  }
  aside .aside-image {
    max-height: 320px;
    width: 100%;
  }
  aside .aside-content {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding-block: 5rem;
    text-align: center;
  }

  header section.hero .container {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3rem;
  }

  main section.project .container {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3rem;
  }
  main section.project .project-text {
    margin-top: 0;
  }

  main section.work .container {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3rem;
    text-align: center;
    flex-direction: column-reverse;
  }

  main section.project .project-text {
    align-items: normal;
  }
  main section.project .project-text a {
    align-self: flex-start;
  }

  main section.work .work-text {
    align-items: normal;
  }
  main section.work .work-text a {
    align-self: flex-start;
  }
  footer .container .footer-content {
    justify-content: center;
  }
}

@media screen and (max-width: 660px) {
  main section.testimonial .card-container article:nth-child(3) {
    flex-grow: 1;
    flex-basis: 0%;
  }

  main section.work {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 500px) {
  header section.hero .hero-text h1 {
    font-size: 3rem;
  }

  main section.project .project-text h2 {
    font-size: 2.5rem;
  }

  header nav .container {
    flex-direction: column;
    row-gap: 1.8rem;
  }
  header nav .nav-menu {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  header nav .nav-actions {
    flex-direction: column;
    row-gap: 1rem;
  }

  footer .container .footer-content {
    justify-content: normal;
  }

  footer .container .footer-content .info-content {
    flex-direction: column;
    row-gap: 2rem;
  }
}
