:root {
  --primary: #043873;
  --primary-accent: #4f9cf9;

  --secondary: #ffe492;
  --secondary-light: #a7cefc;

  --white: #ffffff;
  --text-primary: #212529;
  
  --aside-bg: #f7fbff;
  --card-bg: #ffffff;
  --muted: #6b7280;
  --accent: #ffd166;
}
