.project-text{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
}

.project-text h2{
  font-size: 54px;
}
.project-text p{
  color: var(--text-primary);
}


.project .flex{
  /* align-items: center; */
}

.project-image{
  flex-shrink: 0;
}