.project .container{
  display: flex;
}

.project-text{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
}

.project-text p{
  color: var(--text-primary);
}

.project-image{
  flex-shrink: 0;
}