.testimonial .title{
  text-align: center;
}

main section.testimonial .card-container{
  display: flex;
  margin-top: 60px;
  column-gap: 25px;
}

main section.testimonial .card{
  padding: 30px 25px;
  border-radius: 10px;
}

main section.testimonial .card:nth-child(1){
  background-color: var(--white);
  box-shadow: 10px 15px 50px 0 rgba(0, 0, 0, 0.1);
}

main section.testimonial .card:nth-child(2){
  background-color: var(--primary-accent);
  color: var(--white);
}

main section.testimonial .card:nth-child(3){
  background-color: var(--primary-accent);
  color: var(--white);
}

main section.testimonial .card .person{
  display: flex;
  column-gap: 35px;
  margin-top: 35px;
}


main section.testimonial .card .person .person-image{
  flex-shrink: 0;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
}

.card:nth-child(1) .icon-quote i{
  color: var(--primary);
}

.comment{
  border-bottom: 2px var(--text-primary) solid;
}

.card:nth-child(n+2) .comment{
  border-color: var(--white);
}

.comment p{
  padding-block: 32px 40px;
}

.icon-quote i{
  font-size: 3rem;
}

.slider{
  margin-top: 2.3rem;
  text-align: center;
}

.slider i{
  font-size: 2.5rem;
}